* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	min-height: 100dvh;
}

#main {
	display: flex;
    align-items: center;
	justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

form {
	display: flex;
	flex-direction: column;
	gap: 10px;
    margin-bottom: 50px;
}

.form-element {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.card {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}
